.list {
  list-style: none;
}

.wrapper {
  margin-left: 20px;
}
.btn {
  font-size: 18px;
  margin-left: 15px;
  margin-bottom: 10px;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
